.para-box {
  color: black;
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 12px;
  max-width: 400px;
  margin: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.map-para-div {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.map-para-div > div {
  display: flex;
  flex-direction: column;
}

.map-para-div > label {
  font-weight: 500;
  margin-bottom: 5px;
}

.map-para-div > option {
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
  padding: 0.2rem 1rem;
  font-size: 20px;
}